<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">
    <small>16h ago</small>
    <i class="fa fa-ellipsis-h" style="float: right;padding-top:7px;"></i>
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><b>What is the difference between the web page developed using Angular vs without using any framework? How different will it be and what will be the changes that I can really explain to someone?</b></h5>
    </div>
    <p class="mb-1">Margie Robert and Sanyukta Ghose followed this question you asked.</p>
    <small>20 Followers</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <small class="text-muted">2 days ago</small>
    <i class="fa fa-ellipsis-h" style="float: right;padding-top:7px;"></i>
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><b>What is love?</b></h5>
    </div>
    <p class="mb-1">Kiki answered your request to question you asked.</p>
    <small class="text-muted">4 Followers</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <small class="text-muted">3 days ago</small>
    <i class="fa fa-ellipsis-h" style="float: right;padding-top:7px;"></i>
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><b>Can you share your heartbreak story?</b></h5>
    </div>
    <p class="mb-1">Pradeep Anand answered the question you followed.</p>
    <small class="text-muted">100 Followers</small>
  </a>
</div>